<!DOCTYPE html>
<html>
<head>
    <title>get insta video link</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h2 class="title">Get Instagram video URL</h2>
            <form action="/get-instagram-url" method="post">
                <div class="field">
                    <label class="label" for="instagram_url">Instagram URL:</label>
                    <div class="control">
                        <input class="input" type="text" id="instagram_url" name="url" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Get Instagram URL</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
